.button 
{
    width: 15%;
    min-width: 48px;
    min-height: 48px;
    color: $button-text-color;
    border: 2px solid $textbox-border-color;
    border-radius: 10px;
    outline: none;
}

.button :hover 
{
    cursor: pointer;
}

.button :hover
{
    filter: brightness(120%);
    color: $button-hover-color;
}
